* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color:  #00796b;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #b2dfdb;
}
nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.search-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#pokemonSearch {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    background-color: #e0f7fa;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #f67280;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #f56a68;
}

.pokemon-result {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center;
}

.pokemon-result img {
    width: 150px;
}

.pokemon-result h2 {
    font-size: 24px;
    margin-top: 10px;
}
